@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-greeting.styl'
@require $pathBase + '/stylus/3_sections/s-footer-2.styl'

.p-data-update-customer-suport__td-row
    padding: 10px 0

.p-data-update-customer-suport__slogan
    font-size: 14px;
    color: $sura-blue;
