@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-greeting.styl'
@require $pathBase + '/stylus/3_sections/s-footer-2.styl'
@require $pathBase + '/stylus/4_pages/unete/p-transfer-out.styl'
    
.p-form-contactanos__icon
    margin-right 20px

.p-form-contactanos__icon-text
    text-align left
    font-size 14px

.p-form-contactanos__icon-separator
    padding-bottom 20px

.p-form-contactanos__message
    padding-top 15px

.p-form-contactanos__body-text
    padding 35px 0 45px
