- var config        = {}
- config.width      = 515
- config.static_url = "../../../"



//- DEV (Victor)
//- - config.assets_url = "https://s3.amazonaws.com/victor.sura/assets"

//- LOCAL
//- - config.assets_url = "http://localhost:3000/assets"

//- PROD
- config.assets_url =  "https://cdn01.sura.net.pe/integra/webapps/cercania/asset_mail"
