include /pug/0_toolbox/variables.pug
include /pug/0_toolbox/mixins.pug
include /pug/0_toolbox/control-structure.pug
include /pug/0_toolbox/functions.pug

doctype html

html(lang="es" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#")
    head
        link(href=`${config.static_url}dist/css/0_toolbox/common.css` media="all" rel="stylesheet" type="text/css")
        meta(name="format-detection" content="telephone=no")
        block styles

        style.
            mediaQueries

    body
        +body()
            block content


