@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-greeting.styl'
@require $pathBase + '/stylus/3_sections/s-footer-2.styl'
@require $pathBase + '/stylus/4_pages/unete/p-transfer-out.styl'
    
.p-contactanos-customer-service-titular__td-row
    padding: 10px 0

.p-contactanos-customer-service-titular__slogan
    font-size: 14px;
    color: $sura-blue;
