.p-age-legal__text-1
    font-size: 20px
    p
        line-height: 26px

.p-age-legal__text-phones
    font-size: 16px
    padding-bottom: 20px

.p-age-legal__text-phones-list
    font-size: 14px
    text-align: left;

.p-age-legal__text-phones-container
    margin-bottom: 40px

.p-age-legal__disclaimer
    padding-bottom: 20px
