@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-greeting.styl'
@require $pathBase + '/stylus/3_sections/s-footer-2.styl'

.p-update-contact-data__curve
    background: $sura-back-skyblue

.p-async-affiliation-btn
    width: 187px
    padding-bottom: 25px

.p-async-affiliation__message
    font-size: 16px
    padding-top: 40px

.p-async-affiliation__tip
    font-size: 12px
