@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-footer.styl'


.p-eecc__container-table
    background $sura-back-skyblue

.p-eecc__greeting-container{
    padding-top: 31px
}

.p-eecc__greeting-text
    font-size 12px;

.p-eecc__greeting-name
    font-size: 18px

.p-eecc__greeting-amount
    margin 0

.p-eecc__greeting-text-sup
    font-size 14px

.p-eecc__greeting-subtext
    font-size 12px;


.p-eecc__balance-table-container
    padding-top: 21px

.p-eecc__balance-table
    border 1px solid $sura-line-gray;

.p-eecc__balance
    padding 23px 0;

.p-eecc__balance-name
    font-size 13px

.p-eecc__balance-amount
    margin 0
    font-size: 15px

.p-eecc__balance-img
    width 30px
    height auto

.p-eecc__balance-item-container
    position relative
    padding-left: 30px

.p-eecc__balance-sign
    color $sura-turquoise
    font-size: 20px
    min-width 17px

.p-eecc__balance-detail
    background $sura-turquoise
    padding 6px 10px

.p-eecc__balance-detail-text
    font-size 10px
    color #ffffff

.p-eecc__balance-tip
    font-size 8px
    text-align center
    padding-top 8px
    padding-bottom: 31px


.p-ecc_tracking-title
    padding: 31px 0 23px 0;

.p-ecc_tracking-table-title
    font-size: 10px

.p-ecc_tracking-item{
    font-size: 9px;
}

.p-ecc_tracking-table-detail-container
    padding 12px 0 31px 0 

.p-ecc_tracking-table-detail-content
    padding: 4px 0

.p-ecc_tracking-table-detail
    border 1px solid $sura-line-gray

.p-ecc_tracking-table-detail-title
    font-size: 11px
    padding: 12px 8px
    border-right: 1px solid $sura-line-gray

.p-ecc_tracking-table-detail-text
    font-size: 11px
    padding: 8px 8px 4px
    text-align: center
    border-top: 1px solid $sura-line-gray;
    border-right: 1px solid $sura-line-gray;
    height: 33px 

.p-ecc_tracking-table-detail-text-actual
    border-top: 1px solid $sura-line-green;
    border-right: 1px solid $sura-line-green;

.p-ecc_tracking-table-detail-text-prev
    border-right: 1px solid $sura-line-green;

.p-ecc_tracking-table-detail-text-actual-detail
    background: $sura-line-green

.p-ecc_tracking-table-detail-text-actual-detail-text
    color: #ffffff
    font-size: 11px

.p-ecc_tracking-table-detail-icontext
    display: inline-block

.p-ecc_tracking-table-detail-tip-text
    font-size: 11px

.p-eecc__more-detail-container
    background: $sura-back-skyblue

.p-eecc__more-detail-icon
    padding: 31px 0 9px 0

.p-eecc__more-detail-img
    width: 52px
    height: auto

.p-eecc__more-detail-button
    padding: 12px 0 15px 0

.p-eecc__more-detail-slogan
    padding-bottom: 33px
    border-bottom 1px solid $sura-line-gray

.p-eecc__more-detail-card-container
    padding: 8px

.p-eecc__more-detail-card
    border 1px solid $sura-line-gray
    padding: 12px 6px

.p-eecc__more-detail-cards-title
    padding: 49px 0 12px 0

.p-eecc__more-detail-cards-container
    padding-bottom: 31px

.p-eecc__more-detail-card-text
    font-size: 11px
    text-align: left

.p-eecc__more-detail-card-img
    height: 21px
    width: auto

.p-eecc__more-detail-card-text
    padding: 0 0 0 6px
