@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-greeting.styl'
@require $pathBase + '/stylus/3_sections/s-footer-2.styl'

.p-update-contact-data__curve
    background: $sura-back-skyblue

.p-eecc-mail__header
    padding: 40px 0 0

.p-eecc-mail__table-head-text
    padding-left: 100px;
    text-align: left

.p-eecc-mail__message
    padding-top: 55px;

.p-eecc-mail__icon-phone
    padding-right: 15px;

.p-eecc-mail__img-phone
    max-width: 48px !important;
    max-height: 48px !important;

.p-eecc-mail__numbers
    font-size: 14px

.p-eecc-mail__goodbye
    padding-top: 25px
    font-size: 14px
