@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-greeting.styl'
@require $pathBase + '/stylus/3_sections/s-footer.styl'

.p-transfer__disclaimer-container
    padding: 30px 0
    border-top: 1px solid $sura-line-gray-light

.p-transfer__disclaimer-container-text
    font-size: 14px
    color : $sura-gray

.p-transfer__container-body
    padding: 40px 0

.p-transfer__container-body-img
    padding-right: 20px

.p-transfer__container-body-image
    width: 220px
    height 272px

.p-transfer__container-body-content
    padding-left: 13px

.p-transfer__container-body-content-title
    font-size: 20px

.p-transfer__container-body-content-img
    width: auto

.p-transfer__container-body-content-img2
    width 27px
    height 28px
    max-width 27px
    max-height 24px

.p-transfer__container-body-content-img3
    width 28px
    height 22px
    max-height 22px
    max-width 28px

.p-transfer__container-body-content-img4
    height 24px
    width 24px
    max-height 24px
    max-width 24px

.p-transfer__container-body-content-img1
    height 16px
    width 28px
    max-height 16px
    max-width 28px

.p-transfer__container-body-content-item
    font-size: 15px
    padding: 15px 0 15px 12px
