@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-greeting.styl'
@require $pathBase + '/stylus/3_sections/s-footer-2.styl'
@require $pathBase + '/stylus/4_pages/unete/p-transfer-out.styl'

.p-update-contact-data__greeting
    background: $sura-back-skyblue
    padding: 40px 0 0

.p-update-contact-data__curve
    background: $sura-back-skyblue
    
.p-update-contact-data__icon
    margin-right 20px

.p-update-contact-data__icon-text
    text-align left
    font-size 14px

.p-update-contact-data__icon-separator
    padding-bottom 20px

.p-update-contact-data__message
    padding-top 15px

.p-update-contact-data__body-text
    padding 35px 0 45px
