@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header.styl'
@require $pathBase + '/stylus/3_sections/s-footer.styl'

.p-updated-register__salute-description
    max-width 460px

.p-updated-register__salute-description-td
    padding 0 20px 30px 20px

.p-updated-register__salute-description-text
    line-height 28px
    font-size 18px

.p-updated-register__img-desk-td
    padding 50px 0 50px 20px

.p-updated-register__img-desk
    max-width 450px
    width 100%

.p-updated-register__text-to-link
    font-size: 22px
    line-height: 28px

.p-updated-register__link-td
    padding 25px 0 70px 0

.p-updated-register__link
    max-width 290px
    display block

.p-updated-register__link-btn
    max-width 290px
