extends /pug/5_layouts/l-simple.pug

include /pug/3_sections/s-footer-2.pug
include /pug/3_sections/s-header-2.pug

block styles
    link(href=`${config.static_url}dist/css/4_pages/contactus/p-contactanos-customer-service.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-full()
            +s-header-2('FORMULARIO DE CONTACTO', '')

            table.e-table(cellpadding='0', cellspacing='0', width='100%', border='0')
                tr
                    td.s-greeting__container.hasCurve(width="100%", align="center", valign="top")
                        table.s-greeting__table-head.e-table(cellpadding='0', cellspacing='0', width='60%', border='0', align="left")
                            tr
                                td.s-greeting__table-head-text(align="right", width="60%")
                                    p.s-greeting__text
                                        br
                                        | Se ha ingresado una
                                        br
                                        | solicitud de contacto
                                
                        table.e-table(cellpadding='0', cellspacing='0', width='40%', border='0', align="right")
                            tr
                                td.s-greeting__icon(align="center", width="60%")
                                    img.s-greeting__img(src!=`${config.assets_url}/email-greeting.png`, width="80", height="103")


                tr
                    td.s-footer-2__curve-td
                        table.e-table(cellpadding='0', cellspacing='0', width='100%', border='0')
                            tbody
                                tr
                                    td.s-greeting__curve(align="left")
                                        img.s-footer-2__curve(src!=`${config.assets_url}/curve2.png`)

            center
                table.e-table(cellpadding='0', cellspacing='0', width='85%', border='0')
                    tr
                        td(align="left", colspan="2")
                            p
                                br
                                br
                                strong Datos de la consulta
                                br
                                br
                    tr
                        td.p-contactanos-customer-service__td-row(align="left", width='55%')
                            p
                                strong Categoría de consulta:
                                br
                                | Retiro de hasta 4UIT
                        td.p-contactanos-customer-service__td-row(align="left", width='45%')
                            p
                                strong Nombre del cliente:
                                br
                                | Juan Jara

                    tr
                        td.p-contactanos-customer-service__td-row(align="left", width='55%')
                            p
                                strong Documento de identidad:
                                br
                                | DNI 49040878
                        td.p-contactanos-customer-service__td-row(align="left", width='45%')
                            p
                                strong Correo electrónico:
                                br
                                | mario.fernandez@sura.pe


                    tr
                        td.p-contactanos-customer-service__td-row(align="left", width='55%')
                            p
                                strong Teléfono de contacto:
                                br
                                | 987 654 321
                        td.p-contactanos-customer-service__td-row(align="left", width='45%')
                            p
                                strong Contácteme por:
                                br
                                | TEMO
                    
                    tr
                        td(align="left", colspan="2")
                            p
                                br
                                strong Consulta:
                    tr
                        td(align="left", colspan="2")
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    
                    tr
                        td(colspan="2")
                            br
                            br
                            br
                            center
                                table.e-table(cellpadding='0', cellspacing='0', width='90%', border='0')
                                    tr
                                        td(align="center")
                                            hr
                                            br
                                            br
                                            p.p-contactanos-customer-service__slogan 
                                                strong A tu lado todo el camino
                                            br

            
            +s-footer-2()
