// Email background color
$bgColor      = #e1f5ff

// Email width size in px
$emailWidth   = 600px

// Email table and cells default color
$tableBgColor = white

// Padding left and right for table rows
$paddingRow   = 0px

// Default Email font text color
$textColor    = #4C5662
$sura-gray = #6D7989

// Default email font family
$fontFamily   = Arial, Tahoma, Helvetica, Georgia, Times, Times New Roman, serif

// Default email font size
$fontSizeBase = 16px

// Primary colors
$sura-yellow = #FFE946;
$sura-blue = #0057C2;
$sura-turquoise = #00AEC7;

// Texts/lines colors
$sura-text-gray = $textColor;
$sura-line-gray = #C1C7D5;
$sura-line-green = #50CF7D
$sura-line-gray-light = #F1F1F1

// Shadow colors
$sura-shadow-gray = #DDE6EE;

// Background colors
$sura-back-skyblue = #F6FCFF;
$sura-back-blue = #0a5885;
