@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header.styl'
@require $pathBase + '/stylus/3_sections/s-footer.styl'

.p-worker-kit__salute-description-td
    padding 0 30px 45px 30px

.p-worker-kit__date-text
    margin: 5px 0

.p-worker-kit__title
    color: $sura-blue
    font-size: 22px

.p-worker-kit__subtitle-td
    padding-top: 3px
    padding-bottom: 20px

.p-worker-kit__title-td
    padding-top: 45px

.p-worker-kit__mac-td
    padding-bottom: 20px

.p-worker-kit__text-td
    padding-top: 50px
    padding-bottom: 45px

.p-worker-kit__link
    max-width 292px
    display block

.p-worker-kit__date-line
    height: 3px
    background: $sura-shadow-gray
