.s-footer-2__links-td
    padding 20px 25px 20px 25px
    background-color $sura-blue

.s-footer-2__curve
    width: 100%
    font-size: 0

.s-footer-2__social-network-td
    padding-left 5px
    text-align: right 
    width: 40px
