.s-footer__td
    padding 50px 35px 50px 35px
    background-color $sura-blue

.s-footer__yellow-line
    width 1px
    height 49px
    background-color $sura-yellow

.s-footer__title
    padding-bottom 40px
    line-height 24px
    font-size 18px
    max-width 480px
    color white

.s-footer__info
    // padding-bottom 50px

.s-footer__info-img
    margin-bottom 12px
    width 35px
    max-width 35px
    display: initial

.s-footer__info-subtitle
    margin-bottom 6px
    font-weight bold
    color white
    font-size: 13px

.s-footer__info-text
    color white
    margin 0
    line-height 18px
    font-size: 12px

.s-footer__info-link
    font-size 13px
    display inline
    color white

.s-footer__info-link-icon
    margin 15px 0 0 0
    display inline
    max-width 6px
    max-height 10px

.s-footer__line
    width 100%
    max-width 480px
    color white
    border 0.5px solid rgba(255,255,255,0.2)
    margin-bottom 30px

.s-footer__text
    color white
    font-size 13px

.s-footer__text-number
    color white
    text-decoration none

.s-footer__text-mail
    color white
    text-decoration underline

.s-footer__down-table
    max-width 450px
