.s-greeting__container
    background: $sura-back-skyblue
    padding: 40px 0
    &.hasCurve
        padding: 40px 0 0

.s-greeting__container-async
    padding: 40px 0 0

.s-greeting__table-head-text
    padding-left: 100px;
    text-align: left;

.s-greeting__icon
    padding-right: 15px

.s-greeting__img
    width: 100px
    height 100px
    max-width: 100px
    max-height 100px

.s-greeting__title
    font-size: 22px

.s-greeting__text
    font-size: 18px
    line-height: 22px

.s-greeting__curve
    background: $sura-back-skyblue
