.s-header
    background-color $sura-back-skyblue

.s-header__logo-td
    padding 30px 0

.s-header__title-td
    padding-bottom 10px

.s-header__title
    font-size 32px
    margin 0

.s-header__content-line
    padding-bottom: 20px

.s-header__yellow-line
    height 3px
    background-color $sura-yellow

.s-header__line-table
    width: 17px !important
