extends /pug/5_layouts/l-simple.pug

include /pug/3_sections/s-footer.pug
include /pug/3_sections/s-header.pug

block styles
    link(href=`${config.static_url}dist/css/4_pages/information/p-re-register.css` media="all" rel="stylesheet" type="text/css")

block content
    +row()
        +col-full()
            +s-header('Cynthia')
                table.e-table.p-re-register__salute-description(cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                        tr
                            td.p-re-register__salute-description-td(align="center")
                                p.p-re-register__salute-description-text
                                    | Por motivos de actualización de datos, para ingresar a tu cuenta personal en nuestra web&nbsp;
                                    strong deberás volver a registrarte, pero esta vez, utilizando la opción DNI.

            table.e-table(cellpadding='0', cellspacing='0', width='100%', border='0')
                tbody
                    tr
                        td.p-re-register__img-desk-td(align="center")
                            img.p-re-register__img-desk(src!=`${config.assets_url}/information/monitor.png`)
            
            center
                table.e-table.p-re-register__table-text(cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                        tr
                            td.e-table__td(align="center")
                                p.p-re-register__text-to-link 
                                    strong Lamentamos las molestias y esperamos 
                                    | que ingreses y descubras nuestra nueva experiencia web

            table.e-table(cellpadding='0', cellspacing='0', width='100%', border='0')
                tbody
                    tr
                        td.p-re-register__link-td(align="center")
                            a.p-re-register__link(href="https://www.afpintegra.pe/iniciar-sesion")
                                img.p-re-register__link-btn(src!=`${config.assets_url}/information/btn-enter-here.png`)

            +s-footer()
