@require $pathBase + '/stylus/0_toolbox/variables.styl'

@require $pathBase + '/stylus/3_sections/s-header-2.styl'
@require $pathBase + '/stylus/3_sections/s-greeting.styl'
@require $pathBase + '/stylus/3_sections/s-footer-2.styl'

.p-transfer-out__message
    padding-top: 60px
    font-size: 14px

.p-transfer-out__disclaimer
    padding-bottom: 60px
    font-size: 14px

.p-transfer-out__disclaimer-td
    padding-top: 15px

.p-transfer-out__line
    border-bottom: 1px solid $sura-line-gray;
